<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>

  </div>
  <div class="footer-copyright">
    These Gnomes are <i class="fas fa-heart"></i> by Louise, Luís, Mariana and Patrícia
  </div>
</div>
