<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('forest.jpg')%>">
  <div class="main-container">
    <h1>Experience the Gnomes</h1>
    <a class="btn btn-light" href="#">Check them out</a>
  </div>
</div>

  <div class="container">
    <h1>Bring their magic home with you</h1>
  <div class="card-container">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('meriadoc.jpg')%>">
      <p>Meriadoc</p>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('bilbo.jpg')%>">
      <p>Bilbo Baggins</p>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('faramir.jpg')%>">
      <p>Faramir</p>
    </div>
  </div>
</div>
