.banner {
  height: 500px;
  background-position: center;
  background-size:cover;
  margin-bottom: 80px;
}

.banner h1 {
  padding-top: 180px;
  color: white;
  font-family: sans-serif;
  font-size: 70px;
}

.btn-light {
  width: 230px;
  padding: 5px;
  margin: 10px;
}

.main-container {
  text-align: center;
}

.main-container a {
  color: $forest;
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
}
