.banner {
  height: 500px;
  background-position: center;
  background-size:cover;
  margin-bottom: 80px;
}

.banner h1 {
  padding-top: 180px;
  color: white;
  font-family: sans-serif;
  font-size: 70px;
}

.main-container {
  text-align: center;
}
