.card-category {
  height: 300px;
  width: 300px;
  background-position: center;
  background-size:cover;
  text-align: center;
  margin:10px
}

.card-category p {
  color: white;
  line-height: 38vh;
}
