.card-container {
  background-size: center;
  background-position: center;
  min-height: 500px;
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  justify-content: space-evenly;
  margin:10px;
}

.card-container a {
  text-decoration: none;
  margin-bottom: 10px;
}
