.mapboxgl-popup {
  max-width: 400px;
}

.mapboxgl-popup-content {
  text-align: left;
  box-shadow: 0 0 15px rgb(41, 49, 50)!important;
  font-family: 'Open Sans', sans-serif;
}

.book-button {
  font-size: 12px;
}
